<div id="page-title">
  <h1 class="page-header text-overflow">Cotizar</h1>
</div>
<div id="page-content" [ngBusy]="{busy: busy, message: 'Cargando...', backdrop: true, delay: 200, minDuration: 600}">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Establecer costos por partida</h3>
    </div>

    <div class="panel-body">
      <br>
      <div class="row">
        <div class="col-xs-6">
          <div id="demo-weather-widget-lg" class="panel panel-info">
            <div class="panel-body">
              <div class="media pad-all bord-btm">
                <div class="media-left">
                  <img src="{{ URLDocs + unidad.foto }}" class="fotoUnidad" alt="Foto de la unidad">
                </div>
                <div class="media-body pad-lft">
                  <h4 class="mar-no text-main">{{ unidad.marca + ' ' + unidad.subMarca }}</h4>
                  <p>{{ unidad.tipoUnidad }}</p>
                  <span class="text-sm text-muted">{{ unidad.anio }}</span>
                  <span class="text-sm text-muted mar-lft">{{ unidad.version }}</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <button #btnOpen class="btn btn-primary btn-labeled fa fa-check-square-o pull-right" (click)="send()">Enviar a Aprobación</button>
          <button #btnOpen class="btn btn-info btn-labeled fa fa-floppy-o pull-right" (click)="saveProgress()">Guardar en 0's</button>
          <button #btnOpen class="btn btn-default btn-labeled fa fa-arrow-left pull-right" (click)="regresar()">Regresar</button>
        </div>
      </div>
      <br>
      <p-tabView>
        <p-tabPanel header="Cotizar Partidas">
          <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Filtro global" />
          </div> -->
          <!-- <p-dataTable [value]="partidas" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,50,100]" sortMode="multiple"
            reorderableColumns="false" [globalFilter]="gb" scrollable="true" scrollWidth="100%" #dt>
            <p-header>Hay <b>{{ partidas.length }}</b> Partidas para esta Unidad</p-header>
            <p-column field="idPartida" header="ID" [style]="{'width': '50px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"></p-column>
            <p-column field="especialidad" header="Especialidad" [style]="{'width': '100px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"></p-column>
            <p-column field="clasificacion" header="Clasificación" [style]="{'width': '150px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"></p-column>
            <p-column field="subClasificacion" header="SubClasificación" [style]="{'width': '150px' }" [sortable]="true" [filter]="true"
              filterPlaceholder="Buscar"></p-column>
            <p-column field="partida" header="Partida" [style]="{'width': '120px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"></p-column>
            <p-column field="noParte" header="No. Parte" [style]="{'width': '150px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"></p-column>
            <p-column field="descripcion" header="Descripción" [style]="{'width': '280px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"></p-column>
            <p-column [style]="{'width': '170px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar">
              <ng-template pTemplate="header">
                Costo
              </ng-template>
              <ng-template let-col let-par="rowData" pTemplate="body">
                <div class="input-group mar-btm">
                  <input currencyMask type="text" size="9" [(ngModel)]="par.costoPieza" [ngClass]="{'pending' : par.costoPieza == '0', 'setted': par.costoPieza != '0'  }"
                    class="form-control">
                  <span class="input-group-addon"><i class="fa fa-cog"></i></span>
                </div>
                <div class="input-group mar-btm">
                  <input currencyMask type="text" size="9" [(ngModel)]="par.costoMano" [ngClass]="{'pending' : par.costoMano == '0', 'setted': par.costoMano != '0'  }"
                    class="form-control">
                  <span class="input-group-addon"><i class="fa fa-hand-paper-o"></i></span>
                </div>
                <hr>
                <div class="montoTotal">
                  {{ par.costoPieza + par.costoMano | currency:'MXN':true:'1.2-2'}}
                </div>
                <div class="input-group mar-btm">
                  <input type="text" [(ngModel)]="par.tiempo" [ngClass]="{'pending' : par.tiempo == '0', 'times': par.tiempo != '0'  }"
                    class="form-control timeContainer">
                  <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                </div>
              </ng-template>
            </p-column>
            <p-column [style]="{'width': '100px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar">
              <ng-template pTemplate="header">
                Estatus
              </ng-template>
              <ng-template let-col let-par="rowData" pTemplate="body">
                <div class="row" [ngClass]="{'aprobado' : par.idPartidaEstatus == 4, 'rechazado': par.idPartidaEstatus == 5, 'pendiente': par.idPartidaEstatus < 4 }">
                  <div class="col-xs-12">
                    {{ par.partidaEstatus }}
                  </div>
                </div>
              </ng-template>
            </p-column>
            <p-column [style]="{'width':'100px'}">
              <ng-template pTemplate="header">
                Foto
              </ng-template>
              <ng-template let-par="rowData" pTemplate="body">
                <div class="fotoContent" [hidden]="par.foto == null || par.foto == '' ">
                  <a href="{{ URLDocs + par.foto }}" data-lightbox="image" data-title="Foto Partida" class="instructivo">
                     <img src="{{ URLDocs + par.foto }}" class="fotoUnidad">
                   </a>
                </div>
              </ng-template>
            </p-column>
            <p-column [style]="{'width':'100px'}">
              <ng-template pTemplate="header">
                Instructivo
              </ng-template>
              <ng-template let-par="rowData" pTemplate="body">
                <div class="fotoContent">
                  <a href="{{ URLDocs + par.instructivo }}" class="instructivo" download><i class="fa fa-file-pdf-o insIcon" aria-hidden="true"></i></a>
                </div>
              </ng-template>
            </p-column>
            <p-column styleClass="col-button" [style]="{'width': '70px' }">
              <ng-template pTemplate="header">
                  Acción
              </ng-template>
              <ng-template let-uni="rowData" pTemplate="body">
                <button class="btn btn-default btn-icon btn-circle" (click)="Actualizar(uni)" pTooltip="Actualizar" tooltipPosition="top"><i class="fa fa-floppy-o"></i></button>
              </ng-template>
            </p-column>
          </p-dataTable> -->

          <dx-data-grid [dataSource]="partidas" id="gridContainer"
          
            [showColumnLines]="true"
            [showRowLines]="true"
            [showBorders]="false"
            [rowAlternationEnabled]="true"
            [allowColumnReordering]="false" 
            [allowColumnResizing]="true" 
            [columnAutoWidth]="true"
            (onExporting)="onExporting($event)" (onExported)="onExported($event)">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
            <dxo-paging [pageSize]="20"></dxo-paging>
            <dxo-export [enabled]="true" fileName="Partidas" [allowExportSelectedData]="false"></dxo-export>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
    
            <dxi-column dataField="idPartida" caption="ID" [fixed]="true" [filterOperations]="['contains']" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="especialidad" caption="Especialidad" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="clasificacion" caption="Clasificacion" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="subClasificacion" caption="SubClasificacion" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="partida" caption="Partida" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="noParte" caption="No. Parte" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="descripcion" [visible]="false"></dxi-column>
            
            <dxi-column dataField="descripcion" caption="Descripción" [allowEditing]="false" [width]="400" cellTemplate="descriptionTemplate" >
              <div *dxTemplate="let uni of 'descriptionTemplate'">
                <div class="row">
                  <div class="col-md-12" style="white-space: normal;">
                    {{uni.data.descripcion}}
                  </div> 
                </div>
              </div>
            </dxi-column>
    
            <dxi-column caption="Costo" cellTemplate="costoTemplate" [width]="170" [allowEditing]="false">
              <div *dxTemplate="let uni of 'costoTemplate'">
                <div class="row" >
                  <div class="col-md-12">
                    <div class="input-group mar-btm">
                      <dx-number-box format="$ #,##0.00" [(value)]="uni.data.costoPieza" ></dx-number-box>
                      <span class="input-group-addon"><i class="fa fa-cog"></i></span>
                    </div>
                  </div>
                </div>
                
                <div class="row" >
                  <div class="col-md-12">
                    <div class="input-group mar-btm">
                      <dx-number-box format="$ #,##0.00" [(value)]="uni.data.costoMano"></dx-number-box>
                      <span class="input-group-addon"><i class="fa fa-hand-paper-o"></i></span>
                    </div>
                  </div>
                </div>
                <hr>
    
                <div class="montoTotal">
                  {{uni.data.costoPieza + uni.data.costoMano | currency:'MXN': true: '1.2-2'}}
                </div>
    
                <div class="input-group mar-btm">
                  <dx-text-box [(value)]="uni.data.tiempo == 0 ? '00000' : uni.data.tiempo" mask="00:00" [maskRules]="rules"></dx-text-box>
                  <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                </div>
              </div>
            </dxi-column>
            
            <dxi-column dataField="partidaEstatus" caption="Estatus" cellTemplate="estatusTemplate" [allowEditing]="false" >
              <div *dxTemplate="let uni of 'estatusTemplate'">
                <div class="row aprobado" *ngIf="uni.data.idPartidaEstatus == 4">
                  <div class="col-xs-12">
                    {{uni.data.partidaEstatus}}
                  </div>
                </div>

                <div class="row rechazado" *ngIf="uni.data.idPartidaEstatus == 5">
                  <div class="col-xs-12">
                    {{uni.data.partidaEstatus}}
                  </div>
                </div>

                <div class="row pendiente" *ngIf="uni.data.idPartidaEstatus < 4">
                  <div class="col-xs-12">
                    {{uni.data.partidaEstatus}}
                  </div>
                </div>
              </div>
            </dxi-column>
            
    
            <dxi-column caption="Foto" cellTemplate="fotoTemplate" [allowEditing]="false"></dxi-column>
            <div *dxTemplate="let uni of 'fotoTemplate'" class="fotoContent" [hidden]="uni.data.foto == null || uni.data.foto == '' ">
                <a href="{{ URLDocs + uni.data.foto }}" data-lightbox="image" data-title="Foto Partida" class="instructivo">
                    <img src="{{ URLDocs + uni.data.foto }}" class="fotoUnidad">
                </a>
            </div>
    
            <dxi-column caption="Instructivo" cellTemplate="instructivoTemplate" [allowEditing]="false"></dxi-column>
            <div *dxTemplate="let uni of 'instructivoTemplate'" class="fotoContent" [hidden]="uni.data.instructivo == null || uni.data.instructivo == '' ">
                <a href="{{ URLDocs + uni.data.instructivo }}" target="_blank" class="instructivo"><i class="fa fa-file-pdf-o insIcon" aria-hidden="true"></i>
                </a>
            </div>
    
            <dxi-column caption="Acción" cellTemplate="detailTemplate" [width]="70" [allowEditing]="false"></dxi-column>
            <div *dxTemplate="let suc of 'detailTemplate'">
              <button class="btn btn-default btn-icon btn-circle" (click)="Actualizar(suc.data)" pTooltip="Actualizar" tooltipPosition="top"><i class="fa fa-floppy-o"></i></button>
            </div>
    
            <dxo-pager [showInfo]="true" infoText="Se han encontrado {2} registros" [showNavigationButtons]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]">
            </dxo-pager>
          </dx-data-grid>

        </p-tabPanel>
        <!-- <p-tabPanel header="Cotizar Kit´s">
          <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Filtro global" />
          </div>
          <p-dataTable [value]="kits" sortMode="multiple" reorderableColumns="false" [globalFilter]="gb" scrollable="true" scrollWidth="100%"
            #dt>
            <p-column field="idKit" header="ID" [style]="{'width': '50px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"></p-column>
            <p-column field="partida" header="Partida" [style]="{'width': '120px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"></p-column>
            <p-column field="descripcion" header="Descripción" [style]="{'width': '280px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"></p-column>
            <p-column field="partidas" header="Partidas" [style]="{'width': '80px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"></p-column>
            <p-column [style]="{'width': '170px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar">
              <ng-template pTemplate="header">
                Costo
              </ng-template>
              <ng-template let-col let-par="rowData" pTemplate="body">
                <div class="input-group mar-btm">
                  <input currencyMask type="text" size="9" [disabled]="par.idPartidaEstatus == 4" [(ngModel)]="par.costoPieza" [ngClass]="{'pending' : par.costoPieza == '0', 'setted': par.costoPieza != '0'  }"
                    class="form-control">
                  <span class="input-group-addon"><i class="fa fa-cog"></i></span>
                </div>
                <div class="input-group mar-btm">
                  <input currencyMask type="text" size="9" [disabled]="par.idPartidaEstatus == 4" [(ngModel)]="par.costoMano" [ngClass]="{'pending' : par.costoMano == '0', 'setted': par.costoMano != '0'  }"
                    class="form-control">
                  <span class="input-group-addon"><i class="fa fa-hand-paper-o"></i></span>
                </div>
                <hr>
                <div class="montoTotal">
                  {{ par.costoPieza + par.costoMano | currency:'MXN':true:'1.2-2'}}
                </div>
                <div class="input-group mar-btm">
                  <input type="time" [disabled]="par.idPartidaEstatus == 4" [(ngModel)]="par.tiempo" [ngClass]="{'pending' : par.tiempo == '00:00', 'times': par.tiempo != '00:00'  }"
                    class="form-control timeContainer">
                  <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                </div>
              </ng-template>
            </p-column>
            <p-column [style]="{'width': '100px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar">
              <ng-template pTemplate="header">
                Estatus
              </ng-template>
              <ng-template let-col let-par="rowData" pTemplate="body">
                <div class="row" [ngClass]="{'aprobado' : par.idPartidaEstatus == 4, 'rechazado': par.idPartidaEstatus == 5, 'pendiente': par.idPartidaEstatus < 4 }">
                  <div class="col-xs-12">
                    {{ par.partidaEstatus }}
                  </div>
                </div>
              </ng-template>
            </p-column>
            <p-column [style]="{'width':'100px'}">
              <ng-template pTemplate="header">
                Instructivo
              </ng-template>
              <ng-template let-par="rowData" pTemplate="body">
                <div class="fotoContent">
                  <a href="{{ URLDocs + par.instructivo }}" class="instructivo" download><i class="fa fa-file-pdf-o insIcon" aria-hidden="true"></i></a>
                </div>
              </ng-template>
            </p-column>
          </p-dataTable>
        </p-tabPanel> -->
      </p-tabView>
    </div>
  </div>
</div>

<p-confirmDialog header="Alerta" icon="fa fa-question-circle" width="425"></p-confirmDialog>
<p-growl [value]="msgs" [life]="2000"></p-growl>