<div id="page-title">
    <h1 class="page-header text-overflow">Partidas</h1>
</div>
<div id="page-content" [ngBusy]="{busy: busy, message: 'Cargando...', backdrop: true, delay: 200, minDuration: 600}">

    <!-- Basic Data Tables -->
    <!--===================================================-->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Catálogo</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 pull-left">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Seleccione una unidad</label>
                        <div class="col-md-5">
                            <p-dropdown [options]="unidadesDDL" [(ngModel)]="selectedUnidad" placeholder="Seleccione una unidad" (onChange)="setUnidad()"
                                [filter]="true" [style]="{'width':'900px'}">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="selectedUnidad != null">
                <div class="col-xs-6">
                    <div id="demo-weather-widget-lg" class="panel panel-info">
                        <div class="panel-body">
                            <div class="media pad-all bord-btm">
                                <div class="media-left">
                                    <img src="{{ URLDocs + unidad.foto }}" class="fotoUnidad" alt="Foto de la unidad">
                                </div>
                                <div class="media-body pad-lft">
                                    <h4 class="mar-no text-main">{{ unidad.marca + ' ' + unidad.subMarca }}</h4>
                                    <p>{{ unidad.tipoUnidad }}</p>
                                    <span class="text-sm text-muted">{{ unidad.anio }}</span>
                                    <span class="text-sm text-muted mar-lft">{{ unidad.version }}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <p-tabView *ngIf="selectedUnidad != null">
                <p-tabPanel header="Alta de Partidas">
                    <div class="row">
                        <div class="col-xs-12">
                            <button #btnOpen class="btn btn-warning btn-labeled fa fa-plus pull-right" (click)="mdModelo.open(); ">Nueva Partida</button>
                            <!-- <button class="btn btn-primary btn-labeled fa fa-file-o pull-right" (click)="dt.exportCSV()">Exportar</button> -->
                        </div>
                    </div>
                    <br>
                    <!-- <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input #gb type="text" pInputText size="50" placeholder="Filtro global" />
                    </div>
                    <p-dataTable [value]="partidas" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,50,100]" sortMode="multiple"
                        reorderableColumns="false" [globalFilter]="gb" scrollable="true" scrollWidth="100%" #dt exportFilename="Partidas">
                        <p-header>Hay <b>{{ partidas.length }}</b> Partidas para esta Unidad</p-header>
                        <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"
                            [style]="{'width': col.width }"></p-column>
                        <p-column [style]="{'width':'100px'}">
                            <ng-template pTemplate="header">
                                Foto
                            </ng-template>
                            <ng-template let-par="rowData" pTemplate="body">
                                <div class="fotoContent" *ngIf="par.foto != null || par.foto != '' ">
                                    <a href="{{ URLDocs + par.foto }}" data-lightbox="image" data-title="Foto Partida" class="instructivo">
                                        <img src="{{ URLDocs + par.foto }}" class="fotoUnidad">
                                    </a>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'width':'100px'}">
                            <ng-template pTemplate="header">
                                Instructivo
                            </ng-template>
                            <ng-template let-par="rowData" pTemplate="body">
                                <div class="fotoContent">
                                    <a href="{{ URLDocs + par.instructivo }}" class="instructivo" download><i class="fa fa-file-pdf-o insIcon" aria-hidden="true"></i></a>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'width':'100px'}">
                            <ng-template pTemplate="header">
                                Acción
                            </ng-template>
                            <ng-template let-par="rowData" pTemplate="body">
                                <button class="btn btn-default btn-icon btn-circle" (click)="openEditar(par)" pTooltip="Editar" tooltipPosition="top"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-default btn-icon btn-circle" (click)="eliminarPartida(par)" pTooltip="Eliminar" tooltipPosition="top"><i class="fa fa-trash-o"></i></button>
                            </ng-template>
                        </p-column>
                    </p-dataTable> -->

                    <dx-data-grid #dt id="gridContainer" [dataSource]="partidas"
                        [showColumnLines]="true"
                        [showRowLines]="true"
                        [showBorders]="false"
                        [rowAlternationEnabled]="true"
                        [allowColumnReordering]="true" 
                        [allowColumnResizing]="true" 
                        [columnAutoWidth]="true"
                        (onExporting)="onExporting($event)" (onExported)="onExported($event)">
                        <dxo-export [enabled]="true" fileName="Partidas"></dxo-export>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
        
                        <dxi-column dataField="idPartida" caption="ID" [width]="70" [fixed]="true" [filterOperations]="['contains']"></dxi-column>
                        <dxi-column dataField="tipoPartida" caption="Tipo"></dxi-column>
                        <dxi-column dataField="especialidad"></dxi-column>
                        <dxi-column dataField="clasificacion"></dxi-column>
                        <dxi-column dataField="subClasificacion" ></dxi-column>
                        <dxi-column dataField="partida" caption="SubMarca"></dxi-column>
                        <dxi-column dataField="noParte"></dxi-column>
                        <dxi-column dataField="marca"></dxi-column>
                        <dxi-column dataField="descripcion" caption="Descripción" cellTemplate="descriptionTemplate" class="descripcion" [width]="200" >
                            <div *dxTemplate="let par of 'descriptionTemplate'">
                                <div class="row">
                                    <div class="col-md-12" style="white-space: normal;">
                                      {{par.data.descripcion}}
                                    </div> 
                                </div>
                            </div>
                        </dxi-column>
                        
                        <dxi-column caption="Foto" cellTemplate="fotoTemplate">
                            <div *dxTemplate="let par of 'fotoTemplate'">
                                <div class="fotoContent" *ngIf="par.data.foto != null && par.data.foto != '' ">
                                    <a href="{{ URLDocs + par.data.foto }}" data-lightbox="image" data-title="Foto Partida" class="instructivo">
                                        <img src="{{ URLDocs + par.data.foto }}" class="fotoUnidad">
                                    </a>
                                </div>
                            </div>
                        </dxi-column>

                        <dxi-column caption="Instructivo" cellTemplate="instructivoTemplate">
                            <div *dxTemplate="let par of 'instructivoTemplate'">
                                <div class="fotoContent">
                                    <a href="{{ URLDocs + par.data.instructivo }}" class="instructivo" target="_blank"><i class="fa fa-file-pdf-o insIcon" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </dxi-column>

                        <dxi-column dataField="idLicitacion" caption="Acción" cellTemplate="detailTemplate" [width]="100"></dxi-column>
                        <div *dxTemplate="let suc of 'detailTemplate'">
                            <button class="btn btn-default btn-icon btn-circle" (click)="openEditar(suc.data)" pTooltip="Editar" tooltipPosition="top"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-default btn-icon btn-circle" (click)="eliminarPartida(suc.data)" pTooltip="Eliminar" tooltipPosition="top"><i class="fa fa-trash-o"></i></button>
                        </div>
        
                        <dxo-pager [showInfo]="true" infoText="Se han encontrado {2} registros" [showNavigationButtons]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]">
                        </dxo-pager>
                    </dx-data-grid>

                </p-tabPanel>
                <!-- <p-tabPanel header="Configurar Kit´s">
                    <div class="row">
                        <div class="col-xs-12">
                            <button #btnOpenKit class="btn btn-info btn-labeled fa fa-plus pull-right" (click)="mdKit.open()">Nuevo Kit</button>
                            <button class="btn btn-primary btn-labeled fa fa-file-o pull-right" (click)="dt.exportCSV()">Exportar</button>
                        </div>
                    </div>
                    <br>
                    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input #gbKit type="text" pInputText size="50" placeholder="Filtro global" />
                    </div>
                    <p-dataTable [value]="kits" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" sortMode="multiple"
                        reorderableColumns="false" [globalFilter]="gbKit" scrollable="true" scrollWidth="100%" #dtKit>
                        <p-column *ngFor="let col of colsKit" [field]="col.field" [header]="col.header" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"
                            [style]="{'width': col.width }"></p-column>
                        <p-column [style]="{'width':'100px'}">
                            <ng-template pTemplate="header">
                                Partidas
                            </ng-template>
                            <ng-template let-kit="rowData" pTemplate="body">
                                <div class="fotoContent">
                                    {{ kit.partidas }}
                                    <a (click)="viewKit(kit)" class="instructivo" download><i class="fa fa-cogs insCogs" aria-hidden="true"></i></a>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'width':'100px'}">
                            <ng-template pTemplate="header">
                                Instructivo
                            </ng-template>
                            <ng-template let-par="rowData" pTemplate="body">
                                <div class="fotoContent">
                                    <a href="{{ URLDocs + par.instructivo }}" class="instructivo" download><i class="fa fa-file-pdf-o insIcon" aria-hidden="true"></i></a>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'width':'100px'}">
                            <ng-template pTemplate="header">
                                Acción
                            </ng-template>
                            <ng-template let-kit="rowData" pTemplate="body">
                                <button class="btn btn-default btn-icon btn-circle" (click)="openEditarKit(kit)" pTooltip="Editar" tooltipPosition="top"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-default btn-icon btn-circle" (click)="eliminarKit(kit)" pTooltip="Eliminar" tooltipPosition="top"><i class="fa fa-trash-o"></i></button>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </p-tabPanel> -->
            </p-tabView>


        </div>
    </div>
    <!--===================================================-->
    <!-- End Striped Table -->
</div>

<p-confirmDialog header="Alerta" icon="fa fa-question-circle" width="425"></p-confirmDialog>
<p-growl [value]="msgs" [life]="2000"></p-growl>

<!--Modal de Modelos-->
<modal #mdModelo title="Catálogo de Partidas" modalClass="modal-lg" [hideCloseButton]="false" [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header>
        Agregar Partidas.
    </modal-header>
    <modal-content>
        <div class="row">
            <div class="col-xs-12">
                <form [formGroup]="frmPartida" class="form-horizontal" (ngSubmit)="save(frmPartida.value)">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Tipo Partida</label>
                        <div class="col-md-9">
                            <p-dropdown [options]="tiposDDL" [formControl]="frmPartida.controls['idTipoPartida']" placeholder="Seleccione..." [filter]="true"
                                [style]="{'width':'400px'}">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Especialidad</label>
                        <div class="col-md-9">
                            <p-dropdown [options]="especialidadesDDL" [formControl]="frmPartida.controls['idEspecialidad']" placeholder="Seleccione..."
                                [filter]="true" [style]="{'width':'400px'}">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Clasificación</label>
                        <div class="col-md-9">
                            <p-dropdown [options]="clasificacionesDDL" [formControl]="frmPartida.controls['idPartidaClasificacion']" placeholder="Seleccione..."
                                [filter]="true" [style]="{'width':'400px'}">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Sub Clasificación</label>
                        <div class="col-md-9">
                            <p-dropdown [options]="subClasificacionesDDL" [formControl]="frmPartida.controls['idPartidaSubClasificacion']" placeholder="Seleccione..."
                                [filter]="true" [style]="{'width':'400px'}">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Partida</label>
                        <div class="col-md-7">
                            <input type="text" placeholder="Introduzca la partida" class="form-control" [formControl]="frmPartida.controls['partida']"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!frmPartida.controls['noParte'].valid && frmPartida.controls['noParte'].touched}">
                        <label class="col-md-3 control-label">No Parte</label>
                        <div class="col-md-7">
                            <input type="text" placeholder="Introduzca el número de parte" class="form-control" [formControl]="frmPartida.controls['noParte']">
                            <div class="alert alert-danger" *ngIf="!frmPartida.controls['noParte'].valid && frmPartida.controls['noParte'].touched">Debe Introducir el número de parte.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Marca</label>
                        <div class="col-md-7">
                            <input type="text" placeholder="Introduzca la marca" class="form-control" [formControl]="frmPartida.controls['marca']">
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!frmPartida.controls['descripcion'].valid && frmPartida.controls['descripcion'].touched}">
                        <label class="col-md-3 control-label">Descripción</label>
                        <div class="col-md-7">
                            <textarea rows="4" placeholder="Introduzca una descripción" class="form-control" [formControl]="frmPartida.controls['descripcion']"> </textarea>
                            <div class="alert alert-danger" *ngIf="!frmPartida.controls['descripcion'].valid && frmPartida.controls['descripcion'].touched">Debe Introducir una descripción.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <p-fileUpload name="foto[]" url="{{URL + 'file/upload'}}" (onUpload)="onUploadFoto($event)" multiple="false"
                                        accept="image/*" maxFileSize="10000000" uploadLabel="Cargar" chooseLabel="Cargar Foto"
                                        cancelLabel="Cancelar" auto="true">
                                        <ng-template pTemplate="content">
                                            <ul *ngIf="uploadedFoto.length">
                                                <li *ngFor="let file of uploadedFoto">{{file.name}} - ({{file.size}} bytes) <a class="deleteLink" (click)="deleteUploadedFoto(file)"><i class="fa fa-trash-o"></i>eliminar</a>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </p-fileUpload>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group" *ngIf="frmPartida.controls['idPartida'].value != null">
                                <label class="col-sm-3 control-label">Foto</label>
                                <div class="col-sm-7">
                                    <a href="{{ URLDocs + frmPartida.controls['foto'].value  }}" class="instructivo" download> <img src="{{ URLDocs + frmPartida.controls['foto'].value }}" class="fotoUnidad" alt="Foto"> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <p-fileUpload name="instructivo[]" url="{{URL + 'file/upload'}}" (onUpload)="onUploadInstructivo($event)"
                                        multiple="false" accept=".pdf" maxFileSize="10000000" uploadLabel="Cargar" chooseLabel="Cargar Instructivo"
                                        cancelLabel="Cancelar" auto="true">
                                        <ng-template pTemplate="content">
                                            <ul *ngIf="uploadedInstructivo.length">
                                                <li *ngFor="let file of uploadedInstructivo">{{file.name}} - ({{file.size}} bytes) <a class="deleteLink" (click)="deleteUploadedInstructivo(file)"><i class="fa fa-trash-o"></i>eliminar</a>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </p-fileUpload>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group" *ngIf="frmPartida.controls['idPartida'].value != null">
                                <label class="col-sm-3 control-label">Instructivo</label>
                                <div class="col-sm-7">
                                    <div class="instructivoContent">
                                        <a href="{{ URLDocs + frmPartida.controls['instructivo'].value  }}" class="instructivo" download><i class="fa fa-file-pdf-o insIcon" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-right">
                        <button #btnClose class="btn btn-default" type="button" (click)="mdModelo.close(); frmPartida.reset();">Cancelar</button>
                        <button class="btn btn-primary" type="submit" *ngIf="frmPartida.controls['idPartida'].value == null" [disabled]="!frmPartida.valid">Agregar Partida</button>
                        <button class="btn btn-warning" type="submit" *ngIf="frmPartida.controls['idPartida'].value != null" [disabled]="!frmPartida.valid">Actualizar Partida</button>
                    </div>
                </form>
            </div>
        </div>
    </modal-content>
</modal>

<!--Modal de Kits-->
<modal #mdKit title="Catálogo de Kits" modalClass="modal-lg" [hideCloseButton]="false" [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header>
        Agregar Partidas a un Kit.
    </modal-header>
    <modal-content>
        <div class="row">
            <div class="col-xs-12">
                <form [formGroup]="frmKit" class="form-horizontal" (ngSubmit)="saveKit(frmKit.value)">
                    <div class="form-group">
                        <label class="col-md-3 control-label">No Partida KIT</label>
                        <div class="col-md-7">
                            <input type="text" placeholder="Introduzca la partida" class="form-control" [formControl]="frmKit.controls['partida']" readonly>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':!frmKit.controls['descripcion'].valid && frmKit.controls['descripcion'].touched}">
                        <label class="col-md-3 control-label">Descripción</label>
                        <div class="col-md-7">
                            <input type="text" placeholder="Introduzca una descripción" class="form-control" [formControl]="frmKit.controls['descripcion']">
                            <div class="alert alert-danger" *ngIf="!frmKit.controls['descripcion'].valid && frmKit.controls['descripcion'].touched">Debe Introducir una descripción.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Partidas</label>
                        <div class="col-md-4">
                            <p-dropdown [options]="partidasDDL" [(ngModel)]="selectedPartida" [ngModelOptions]="{standalone: true}" placeholder="Seleccione una partida"
                                [filter]="true" [style]="{'width':'300px'}">
                            </p-dropdown>
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-6">
                                <input type="number" [(ngModel)]="cantidad" [ngModelOptions]="{standalone: true}" placeholder="Cantidad">
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary" type="button" (click)="AgregarPartidaKit()">Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Seleccionadas</label>
                        <div class="col-md-8">
                            <p-dataTable [value]="selectedPartidas" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" sortMode="multiple"
                                reorderableColumns="false" scrollable="true" scrollWidth="100%" #dtPartidasKit>
                                <!-- <p-column field="idPartida" header="ID"  [sortable]="true" [filter]="true" filterPlaceholder="Buscar"></p-column> -->
                                <p-column field="descripcion" header="Descripción" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                <p-column field="cantidad" header="Cantidad" [style]="{'width': '70px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                <p-column styleClass="col-button" [style]="{'width':'100px'}">
                                    <ng-template pTemplate="header">
                                        Acción
                                    </ng-template>
                                    <ng-template let-par="rowData" pTemplate="body">
                                        <button class="btn btn-default btn-icon btn-circle" (click)="eliminarPartidaKit(par)" pTooltip="Eliminar" tooltipPosition="top"><i class="fa fa-trash-o"></i></button>
                                    </ng-template>
                                </p-column>
                            </p-dataTable>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-md-3 control-label">Instructivo o Adjunto</label>
                        <div class="col-xs-5">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <p-fileUpload name="instructivo2[]" url="{{URL + 'file/upload'}}" (onUpload)="onUploadInstructivo($event)"
                                        multiple="false" accept=".pdf" maxFileSize="10000000" uploadLabel="Cargar" chooseLabel="Cargar Instructivo"
                                        cancelLabel="Cancelar" auto="true">
                                        <ng-template pTemplate="content">
                                            <ul *ngIf="uploadedInstructivo.length">
                                                <li *ngFor="let file of uploadedInstructivo">{{file.name}} - ({{file.size}} bytes) <a class="deleteLink" (click)="deleteUploadedInstructivo(file)"><i class="fa fa-trash-o"></i>eliminar</a>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </p-fileUpload>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group" *ngIf="frmKit.controls['idKit'].value != null">
                                <label class="col-sm-3 control-label">Instructivo</label>
                                <div class="col-sm-7">
                                    <div class="instructivoContent">
                                        <a href="{{ URLDocs + frmKit.controls['instructivo'].value  }}" class="instructivo" download><i class="fa fa-file-pdf-o insIcon" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button #btnCloseKit class="btn btn-default" type="button" (click)="mdKit.close(); frmKit.reset();">Cancelar</button>
                        <button class="btn btn-primary" type="submit" *ngIf="frmKit.controls['idKit'].value == null" [disabled]="!frmKit.valid">Agregar Kit</button>
                        <button class="btn btn-warning" type="submit" *ngIf="frmKit.controls['idKit'].value != null" [disabled]="!frmKit.valid">Actualizar Kit</button>
                    </div>
                </form>
            </div>
        </div>
    </modal-content>
</modal>

<!--Modal Consulta de partidas-->
<a #btnOpenPK (click)="mdPK.open()"></a>
<modal #mdPK title="Partidas del KIT" modalClass="modal-lg" [hideCloseButton]="false" [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header>
        Lista de partidas del kits
    </modal-header>
    <modal-content>
        <div class="row">
            <div class="col-xs-12">
                <p-dataTable [value]="pks" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" sortMode="multiple"
                    reorderableColumns="false" scrollable="true" scrollWidth="100%" #dt>
                    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"
                        [style]="{'width': col.width }"></p-column>
                    <p-column field="cantidad" header="Cantidad" [style]="{'width': '80px' }" [sortable]="true" [filter]="true" filterPlaceholder="Buscar"></p-column>

                    <p-column [style]="{'width':'100px'}">
                        <ng-template pTemplate="header">
                            Foto
                        </ng-template>
                        <ng-template let-par="rowData" pTemplate="body">
                            <div class="fotoContent">
                                <a href="{{ URLDocs + par.foto }}" class="instructivo" download><img src="{{ URLDocs + par.foto }}" class="fotoUnidad" alt="Foto de la partida"></a>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'width':'100px'}">
                        <ng-template pTemplate="header">
                            Instructivo
                        </ng-template>
                        <ng-template let-par="rowData" pTemplate="body">
                            <div class="fotoContent">
                                <a href="{{ URLDocs + par.instructivo }}" class="instructivo" download><i class="fa fa-file-pdf-o insIcon" aria-hidden="true"></i></a>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column styleClass="col-button" [style]="{'width':'100px'}">
                        <ng-template pTemplate="header">
                            Acción
                        </ng-template>
                        <ng-template let-par="rowData" pTemplate="body">
                            <button class="btn btn-default btn-icon btn-circle" (click)="openEditar(par)" pTooltip="Editar" tooltipPosition="top"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-default btn-icon btn-circle" (click)="eliminarUnidad(par)" pTooltip="Eliminar" tooltipPosition="top"><i class="fa fa-trash-o"></i></button>
                        </ng-template>
                    </p-column>
                </p-dataTable>
                <br>
                <div class="text-right">
                    <button #btnClosePK class="btn btn-default" type="button" (click)="mdPK.close();">Cerrar</button>
                </div>
            </div>
        </div>
    </modal-content>
</modal>